<!-- Start Header -->
<header>
  <div class="header-container">
    <a href="/">&lt;</a>
    <img src="assets/games-logo.png" alt="games logo" />
    <h2>ROCK PAPER SCISSORS</h2>
  </div>
</header>
<!-- End Header -->

<!-- Start Main -->
<main>
  <article class="games-container">
    <section class="section-content">
      <div class="player-content">
        <h3>PLAYER 1</h3>
        <div>
          <img class="shape shape-rock" src="assets/rock.png" alt="rock" />
        </div>
        <div>
          <img class="shape shape-paper" src="assets/paper.png" alt="paper" />
        </div>
        <div>
          <img
            class="shape shape-scissor"
            src="assets/scissor.png"
            alt="scissor"
          />
        </div>
      </div>

      <div class="description-content">
        <div class="game-prediction">
          <p>VS</p>
        </div>
      </div>

      <div class="computer-content">
        <h3>COM</h3>
        <div>
          <img class="shape shape-rock" src="assets/rock.png" alt="rock" />
        </div>
        <div>
          <img class="shape shape-paper" src="assets/paper.png" alt="paper" />
        </div>
        <div>
          <img
            class="shape shape-scissor"
            src="assets/scissor.png"
            alt="scissor"
          />
        </div>
      </div>
    </section>

    <section class="section-reset">
      <img class="reset-game" src="assets/reset.png" alt="reset game" />
    </section>

  </article>
</main>
<!-- End Main -->